@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

:root {
     --primary-color:  blueviolet;
    --button-color: #B1BCE6;
    --background-light: #f8fafc;
    --input-text-color:#3D550C;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: var(--background-light);
}
input{
    font-family:'Times New Roman', Times, serif;
}

p {
    text-align: center;
    padding: 6px;
}

h2,h3,h4 {
    margin: 15px;
    text-align: center;
}

.output-err{
    color: red;
    text-align: center;
}
h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.non-bullets {
    list-style: none;
}

.list-inline li {
    display: inline;
    padding: 0rem 0.5rem;
}


.navigation {
    height: 80px;
    background-color: var(--primary-color);
    /* padding: 15px; */
    /* border-top: 50px; */
    /* border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px; */
}

.nav-brand {
    /* font-weight: bolder;
    color: white;
    padding: 10px 10px 10px 10px; */
    text-align: initial;
    font-family: "Megrim", cursive;
    display: block;
    font-size: 2em;
    color: white;
    /* margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; */
    font-weight: bold;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link {
    color: white;
}

.navigation .active {
    font-weight: bold;
}

.link {
    display: inline-block;
    border-radius: 50px;
    padding: 5px;
    text-decoration: none;
}

label {
    color:  black;
    margin: 0.5rem 0 0.5rem;
    display: block;
    text-align: center;
    /* font-weight: 700; */
    font-size: large;
}

h1 {
    margin: 20px;
    text-align: center;
    font-weight: bold;

}

.User-input {

    text-align: center;
    border-radius: 10px;
    height: 40px;
    width: 250px;
    display: block;
    margin: 20px auto;
}

button {
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: large;
    background-color: blueviolet;
    margin: 2rem auto;
    display: block;
    margin: auto;
    height: 35px;
    width: 200px;
    border-radius: 10px;
    color: white   ;
}

h2 {
    margin: 10px;
    text-align: center;
    padding: 2px;
}

#question-bank {
    margin: 1rem auto;
    /* max-width: 600px; */
    text-align: center;
    /* padding: 3px; */
    /* font-weight: bold; */
    font-size: large;
}

#question-bank p{
    font-weight: bold;
}

#question-bank label {
    display: inline;
    margin: auto;
    text-align: center;
    padding: 10px;
    font-size: small;
}


footer{
    text-align: center ;
    color: var(--background-light);
    background-color: var(--primary-color);
    padding: 10px;
    display: block;
    bottom: 0;
    position: fixed;
    width: 100%;
    /* margin-bottom: auto; */
    /* border-top-left-radius: 15px;
    border-top-right-radius: 15px; */
    /* height: 100%; */

    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}


.footer-container{
    text-align: center;
    /* margin-bottom: auto;  */
   /* border-top-left-radius: 15px; 
    border-top-right-radius: 15px;  */
    /* height: 100%;  */
    position: relative;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


li {
    margin: 10px;
    padding: 5px;
    display: inline;
    list-style: none;
}

footer div,.link {
    text-decoration: none;
    color:var(--background-light);
}